{% extends 'layouts/base.html' %}

{% block title %}Exapunks Solutions{% endblock %}
{% block meta_description %}A quick project with Flask, to show off some Exapunks Solutions{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Exapunks Solutions</h1>
      <h3 class="text-muted">
        There's more ways than one. But these are mine.
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-bullhorn text-primary"></i>
        <h2>Place bets</h2>
        <p class="text-muted">Correctly guess the dice's roll.</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-database text-primary"></i>
        <h2>Win currency</h2>
        <p class="text-muted">Gain coins if your guess is correct.</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-trophy text-primary"></i>
        <h2>Leaderboard</h2>
        <p class="text-muted">Compare your results to others.</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
